@font-face {
    font-family: 'UniversRoman';
    src: url(universltstd.eot);
    src: url(universltstd.eot) format("embedded-opentype"),url(universltstd.woff) format("woff"),url(universltstd.ttf) format("truetype"),url(universltstd.svg#UniversLTStd55Roman) format("svg");
}

#video_background {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.text-item {
    max-width: 600px;
    height: 240px;
}

.container-fluid {
    padding-top: 20px;
    padding-left: 20px;
}

body {
    padding-top: 0;
    height: 100%;
    background:url("../img/portrait.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.signoff {
    position: absolute;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    filter: invert(100%);
}

.container {
    padding-top:10px;
}

html {
    height:100%;
}

            #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}
