@font-face {
    font-family: 'UniversLTStd55Roman';
    src: url('universltstd.eot');
    src: url('universltstd.eot') format('embedded-opentype'),
         url('universltstd.woff') format('woff'),
         url('universltstd.ttf') format('truetype'),
         url('universltstd.svg#UniversLTStd55Roman') format('svg');
}
